<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header">
        Listado de productos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto: ${listadoproducto}">
                <td th:text="${producto.idproducto}"></td>
                <td th:text="${producto.nomproducto}"></td>
                <td th:text="${producto.precio}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>